<html>

<head>
    <link href='/assets/style.css' type='text/css' rel='stylesheet' />
    <title>
        Hello EJS Template
    </title>
</head>

<body>
    <h1>Hello EJS !</h1>

    <form method="POST" action="/login">
        UserName: <input type="text" name='username' />
        <br />
        Password: <input type="password" name='password' />
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>

</html>