<html>

<head>
    <link href='/assets/style.css' type='text/css' rel='stylesheet' />
    <title>
        Hello EJS Template
    </title>

    <!-- CND -->
    <script src='http://code.jquery.com/jquery-1.12.4.min.js'></script>
</head>

<body>
    <h1>Hello EJS !</h1>

    <form method="POST" action="/login">
        UserName: <input type="text" name='username' />
        <br />
        Password: <input type="password" name='password' />
        <button type="submit" value="Submit" onsubmit="">Submit</button>
    </form>

    <script>
        $.ajax({
            // type: "POST",
            // url: '/loginjs',
            // data: JSON.stringify({ username: 'TONA', password: '123' }),
            // dataType: "json",
            // contentType: 'application/json'
        });
    </script>
</body>

</html>